<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chou.securityDemo.mapper.UserMapper">

    <select id="alikeUserNameCount" resultType="java.lang.Integer">
        select count(*) from vista_user vu where vu.name = #{name}
    </select>
</mapper>